@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

@keyframes skeleton {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}